.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 120px 0;
}

.nothing {
  font-family: var(--font-serif);
  font-size: var(--font-lg);
  color: var(--color-foreground-subtle);
  transition: 1s;

  &.passive {
    opacity: 0.5;
  }

  & img {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
  }

  & p {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }

    &.bold {
      color: var(--color-foreground);
    }

    & span {
      font-family: 'Courier New', monospace;
      color: var(--color-foreground);
    }
  }
}

.congrats {
  font-family: var(--font-serif);
  font-size: var(--font-md);
  color: var(--color-foreground-subtle);
  text-align: center;

  & span {
    display: block;
    margin-bottom: 8px;
    font-size: var(--font-lg);
    color: var(--color-foreground);
    text-align: center;
  }

  & a {
    display: block;
    margin-top: 8px;
    color: var(--color-foreground);
    text-align: center;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-foreground-subtler);
  }
}
