.main {
  padding: 120px 0 50px;
  font-size: var(--font-lg);
  color: var(--color-foreground-subtle);

  & img {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
  }

  & p {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }

    &.bold {
      color: var(--color-foreground);
    }

    & span {
      font-family: 'Courier New', monospace;
      color: var(--color-foreground);
    }
  }
}

.divider {
  width: 50px;
  height: 1px;
  background-color: var(--color-neutral-200);
}

.desc {
  padding: 50px 0 120px;

  & p {
    font-size: var(--font-md);
    line-height: 1.7;
    color: var(--color-foreground-subtle);

    &:not(.noIndent) {
      text-indent: 24px;
    }

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }

    &.mini {
      font-size: var(--font-base);
      color: var(--color-foreground-subtler);

      & span:not(.heading) {
        font-family: 'Courier New', monospace;
        color: var(--color-foreground);
      }

      & .heading {
        display: block;
        margin-bottom: 4px;
        font-family: var(--font-sans);
        font-size: var(--font-sm);
        color: var(--color-foreground-subtle);
      }
    }

    & a {
      color: var(--color-foreground);
      text-decoration-style: dotted;
      text-decoration-color: var(--color-foreground-subtler);
    }
  }
}
